[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

django = "*"
pillow = "*"
django-cors-headers = "*"
requests = "*"
easy-thumbnails = "*"

[requires]
python_version = "3.6"
